[mysqld]

# Allow remote connections
bind-address=*

# Allow classic way of authenticating
default_authentication_plugin=mysql_native_password

# Default mode, but without `ONLY_FULL_GROUP_BY`
sql_mode = STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION